/*------------------------------------*\
  #SECTION-RESET HMTL ELEMENTS
\*------------------------------------*/
* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background-color: #f4f4f4;
}

/*------------------------------------*\
  #SECTION-CONTAINER
\*------------------------------------*/
.wrap {
  position: relative;
  width: 100%;
  max-width: 560px;
  margin: 0 auto;
  padding: 0 30px;
}

/*------------------------------------*\
  #SECTION-LOAD CONTAINER GROUP
\*------------------------------------*/
.section {
  position: relative;
  padding: 50px;
}

.section--primary {
  background: #16a085;
}

.section--secondary {
  background: #e74c3c;
}

.section--third {
  background: #34495e;
}

.section--thfour {
  background: #2c3e50;
}

.section--thfive {
  background: #c0392b;
}

/*------------------------------------*\
  #SECTION-LOADERS GROUP
\*------------------------------------*/
.loaders-group {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

/*------------------------------------*\
  #SECTION-DEFAULT LOADERS STYLE
\*------------------------------------*/
.loader {
  position: relative;
  width: 60px;
  height: 60px;
  margin: 20px;
}

/*------------------------------------*\
  #SECTION-SPINNER LOADERS
\*------------------------------------*/
.loader-spinner {
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.3);
}

.loader-spinner:after {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 5px solid transparent;
  border-top-color: white;
  animation: spin 1s linear infinite;
}

.loader-spinner--transparent {
  border-color: transparent;
}

/*------------------------------------*\
  #SECTION-SPIN ANIMATION
\*------------------------------------*/
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
