/*------------------------------------*\
  #SECTION-SPIN ANIMATION
\*------------------------------------*/

@keyframes spin {
  to { transform: rotate( 360deg ); }
}




/*------------------------------------*\
  #SECTION-BARS ANIMATION
\*------------------------------------*/

@keyframes bar-grow-up {
  from { height: 60px; }
}

@keyframes bar-opaq {
  from { opacity: 0; transform: scaleY(1.5); }
}




/*------------------------------------*\
  #SECTION-DOTS ANIMATION
\*------------------------------------*/

@keyframes dot-pomp-up {
  to { transform: translateY( 20px ); }
}

@keyframes dot-rounded {
  to {
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid $primary-color;
  }
}