/*------------------------------------*\
  #SECTION-CONTAINER
\*------------------------------------*/

.wrap{
  position: relative;
  width: 100%;
  max-width: 560px;

  margin: 0 auto;
  padding: 0 30px;
}




/*------------------------------------*\
  #SECTION-LOAD CONTAINER GROUP
\*------------------------------------*/

.section{
  position: relative;

  padding: 50px;
}

.section--primary{
  background: $primary-color;
}

.section--secondary{
  background: $secondary-color;
}

.section--third{
  background: $third-color;
}

.section--thfour{
  background: $thfour-color;
}

.section--thfive{
  background: $thfive-color;
}

/*------------------------------------*\
  #SECTION-LOADERS GROUP
\*------------------------------------*/

.loaders-group{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}