.--last { margin: 0 !important }

/*------------------------------------*\
  #SECTION-DEFAULT LOADERS STYLE
\*------------------------------------*/

.loader {
  position: relative;
  width: 60px;
  height: 60px;
  
  margin: 20px;
}




/*------------------------------------*\
  #SECTION-SPINNER LOADERS
\*------------------------------------*/

.loader-spinner {
  border-radius: 50%;
  border: 5px solid rgba( 255, 255, 255, 0.3 );

  &:after {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;

    display: inline-block;
    width: 100%;
    height: 100%;

    border-radius: 50%;
    border: 5px solid transparent;
    border-top-color: white;

    animation: spin 1s linear infinite;
  }
}

.loader-spinner--transparent {
  border-color: transparent;
}




/*------------------------------------*\
  #SECTION-BARS LOADERS
\*------------------------------------*/

/**
 * The loader bars main container contains 5 bars
 * The main conatiner width depends on :
 *
 * 1) The bars width
 * 2) The white spaces between them
 */

.loader-bars {
  width: 90px;
  font-size: 0;
}

/**
* Default bars loader style
*/
.loader-bars__bar {
  position: absolute;
  width: 10px;
  height: 0;
  left: 0;
  bottom: 0;

  background-color: white;

  animation: bar-grow-up 1s linear infinite;

  &:nth-child(2) {
    left: 20px;
    animation-delay: .1s;
  }

  &:nth-child(3) {
    left: 40px;
    animation-delay: .2s;
  }

  &:nth-child(4) {
    left: 60px;
    animation-delay: .3s;
  }

  &:nth-child(5) {
    left: 80px;
    animation-delay: .4s;
  }

}

/**
* Transparency bar loader style
* It bases on the: Default bars loader style
*/
.loader-bars--opaq .loader-bars__bar {
  height: 60px;
  
  opacity: 1;
  animation: bar-opaq 1s linear infinite;

  &:nth-child(2) {
    animation-delay: 0s;
  }

  &:nth-child(2) {
    animation-delay: .1s;
  }

  &:nth-child(3) {
    animation-delay: .2s;
  }

  &:nth-child(4) {
    animation-delay: .3s;
  }

  &:nth-child(5) {
    animation-delay: .4s;
  }
}




/*------------------------------------*\
  #SECTION-DOTS LOADERS
\*------------------------------------*/

/**
 * The loader DOT main container contains 5 dots
 * The main conatiner width depends on :
 *
 * 1) The dots width
 * 2) The white spaces between them
 */

.loader-dot {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 120px;
}

/*
* Default dots loader
*/
.loader-dot__bar {
  display: block;
  width: 15px;
  height: 15px;

  margin-right: 10px;

  background-color: $primary-color;

  animation: dot-pomp-up .6s ease-in-out alternate infinite;

  &:nth-child(2) { animation-delay: .1s; }

  &:nth-child(3) { animation-delay: .2s; }

  &:nth-child(4) { animation-delay: .3s; }

  &:nth-child(5) { animation-delay: .4s; }
}

/*
* Loader with dart trnasform to square
* and circle:
*
* It bases on the defaulot dots loader
*/
.loader-dot--round .loader-dot__bar {

  animation: dot-rounded 1.5s ease-in-out infinite;

  &:nth-child(2) { animation-delay: .1s; }

  &:nth-child(3) { animation-delay: .2s; }

  &:nth-child(4) { animation-delay: .3s; }

  &:nth-child(5) { animation-delay: .4s; }
}